<div class="left">
  <h1><%= @close["Title"] %></h1>
  <img src="<%= @close["Poster"] %>" alt="No image">
</div>
<div class="right">
  <h1><%= @close["Released"] %></h1>
  <h1><%= @close["imdbRating"] %></h1>
  <h1><%= @close["Plot"] %></h1>
  <a href='<%= "http://www.imdb.com/title/#{@this}" %>'>Imbd Link</a>
</div>
