<h3>Update a wine</h3>

<form action="/wines_edit/<%= @wine["id"] %>" method="POST">
  <p>
    <label for="">Grape:</label>
    <input type="text" name="grape" placeholder="<%= @wine["grape"] %>">
  </p>
  <p>
    <label for="">Year:</label>
    <input type="number" name="year" placeholder="<%= @wine["year"] %>">
  </p>
  <p>
    <label for="">Region:</label>
    <input type="text" name="region" placeholder="<%= @wine["region"] %>">
  </p>
  <p>
    <label for="">Price:</label>
    <input type="number" name="price" placeholder="<%= @wine["price"] %>">
  </p>
  <p>
    <label for="">Currency:</label>
    <input type="text" name="currency" placeholder="<%= @wine["currency"] %>">
  </p>
  <input type="submit" value="Update wine">
</form>
