<h2><%= @movie["Title"] %></h2>
<h3>
  <p>
    Writer: <%= @movie["Writer"] %>, <br>
    Director: <%= @movie["Director"] %> <br>
    Actors: <%= @movie["Actors"] %>.  Runtime: <%= @movie["Runtime"] %>
    Plot line:
      <%= @movie["Plot"] %>
  </p>
</h3>
<img class="poster src=<%= @movie["Poster"] %> alt="">











<!-- {"Title"=>"Satantango", "Year"=>"1994", "Rated"=>"N/A", "Released"=>"28 Apr 1994", "Runtime"=>"450 min", "Genre"=>"Comedy, Drama", "Director"=>"Béla Tarr", "Writer"=>"László Krasznahorkai (novel), Mihály Vig (story), Péter Dobai (story), Barna Mihók (story), László Krasznahorkai (screenplay), Béla Tarr (screenplay)", "Actors"=>"Mihály Vig, Putyi Horváth, László feLugossy, Éva Almássy Albert", "Plot"=>"Plotting on a payment they are about to receive, residents of a collapsing collective farm see their plans turn into desolation when they discover that Irimiás, a former co-worker who they thought was dead, is coming back to the village.", "Language"=>"Hungarian", "Country"=>"Hungary, Germany, Switzerland", "Awards"=>"3 wins.", "Poster"=>"https://images-na.ssl-images-amazon.com/images/M/MV5BMTIyMTY0OTMwMV5BMl5BanBnXkFtZTcwOTY2NDU4MQ@@._V1._CR18,0,335,451_SY132_CR4,0,89,132_AL_.jpg_V1_SX300.jpg", "Metascore"=>"N/A", "imdbRating"=>"8.6", "imdbVotes"=>"6,339", "imdbID"=>"tt0111341", "Type"=>"movie", "Response"=>"True"} -->
