<h2><%= @wonder[ "name" ] %></h2>
<p>Description: <%= @wonder[ "description" ]%></p>
<p>Years included: <%= @wonder[ "year_included" ] %></p>
<p><img src="<%= @wonder["image"] %>" alt="<%= @wonder[ "name" ] %>"></p>
