<!DOCTYPE html>
<html>
<head>
  <title>Airline</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1>Wonderful Airline</h1>
  <nav>
    <%= link_to "Home", "/" %> |
    <%= link_to "About", "/about" %>
  </nav>

  <hr>

<%= yield %>

</body>
</html>
